@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html, body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #072b4f;
}

.text{
    outline: none;
    font-size: 150px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(135deg, #9d00ff 0%, #00a2ff 25%, #0cc5cb 50%, #3082fc 75%, #6a00ff 100%);
    background-size: 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    100%{
        background-position: 400%;
    }
}